{block content}

<h1 n:block=title><span class="fa fa-file"></span> Základní údaje IT</h1>

<div class="well">
    Základní údaje o firemní počítačové síti.
</div>

<a href="{$basePath}/data/docs/{$doc->file}" class="btn btn-lg btn-primary">Stáhnout dokument <span class="fa fa-download"></span></a>