{block content}

<h1 n:block=title><i class="fa fa-file"></i> {$doc->name}</h1>

<div n:if="$doc->note" class="well">
    {$doc->note}
</div>

<a href="{if $doc->link}{$doc->link}{else}{$basePath}/data/docs/{$doc->file}{/if}" class="btn btn-lg btn-primary">
    {_layout.docs.download_file}
    <i class="fa fa-download"></i>
</a>