{block content}

<h1 n:block=title><span class="fa fa-file"></span> Pracovní postupy</h1>

<div class="well">
    Dokument obsahuje popis pracovních postupů v souvislosti s informačními technologiemi, zejm. systémem VISUAL Enterprise. U pracovních postupů jsou dále uvedeny zodpovědnosti, části programu, s nimiž úkony souvisí, a případně další poznámky.
</div>

<a href="{$basePath}/data/docs/{$doc->file}" class="btn btn-lg btn-primary">Stáhnout dokument <span class="fa fa-download"></span></a>