{block content}

<h1 n:block=title><span class="fa fa-cog"></span> Nastavení základních informací</h1>

<div class="well">Základní informace jsou využívány jednotně v celém systému. V případě, že si přejete nastavit přizpůsobení pro váš uživatelský účet - přejděte na stránku "Přizpůsobení" - viz níže.</div>

<p>
    <a n:href="Custom:" class="btn btn-warning"><span class="fa fa-edit"></span> Přizpůsobení</a>
</p>

{control basicSettingsForm}