{block content}

<h1 n:block=title><span class="fa fa-cog"></span> {_pages.settings.basic_info_settings}</h1>

<div class="well">{_pages.settings.intro.basic_info}</div>

<p>
    <a n:href="Custom:" class="btn btn-warning"><span class="fa fa-edit"></span>
		{_pages.settings.customization}</a>
</p>

{control basicSettingsForm}