{block content}

<h1 n:block=title><span class="glyphicon glyphicon-hand-down"></span> Nápověda</h1>

<table class="table table-striped" style="font-size:140%;width:49%; float: left;margin-right:2%;">
    <tr>
        <td><a n:href="Support:"><span class="glyphicon glyphicon-earphone"></span> Podpora systému</a></td>
    <tr>
    </tr>
        <td><a n:href="AboutWebapp:"><span class="glyphicon glyphicon-earphone"></span> O aplikaci</a></td>
    </tr>
</table>