{block content}

<h1 n:block=title><i class="fa fa-cog"></i> {_pages.settings.basic_info_settings}</h1>

<div class="well">{_pages.settings.intro.basic_info}</div>

<p>
    <a n:href="Custom:" class="btn btn-warning"><i class="fa fa-edit"></i>
        {_pages.settings.customization}</a>
</p>

{control basicSettingsForm}