{block content}

<h1 n:block=title><i class="fa fa-bookmark"></i> {_pages.about_webapp.about_application}</h1>

<ul>
    <li>
        {_pages.about_webapp.app_use_icons} <a href="http://fortawesome.github.io/">Font Awesome</a>
    </li>
</ul>