{block content}

<h1 n:block=title><span class="fa fa-bookmark"></span> O aplikaci</h1>

<ul>
    <li>
        V rámci aplikace jsou využívány ikony <a href="http://fortawesome.github.io/">Font Awesome</a>
    </li>
</ul>