php:
    date.timezone: Europe/Prague
    zlib.output_compression: yes

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days
    savePath: "%tempDir%/sessions"

database:
    dsn: '%database.type%:host=%database.host%;dbname=%database.database%'
    user: %database.user%
    password: %database.password%
    options:
        lazy: yes

doctrine:
    host: %database.host%
    user: %database.user%
    password: %database.password%
    dbname: %database.database%
    metadata:
        App: '%appDir%/../../cmsbe/src/model'
        Cothema: '%appDir%/../../cmsbe/src/model'

services:
    - App\UserManager
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

extensions:
    gravatar: IPub\Gravatar\DI\GravatarExtension
    permission: IPub\Permissions\DI\PermissionsExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translation: Cothema\CMSBE\Translation\TranslationExtension

gravatar:
    defaultImage: mm

translation:
    default: cz
    whitelist: [cz, en, de, nl]
    fallback: [cs_CZ, cz]
    resolvers:
        session: on
