menu:
	default:
		allow:
			roles: [admin]
		translator: true
		template:
			menu: %appDir%/templates/_components/menu/menu.latte
		items:
			'menu.items.dashboard':
				target: Homepage:default
				data:
					icon: home