menu:
    leftMenuTop:
        controlClass: \DK\Menu\UI\CustomTopControl
        controlInterface: \DK\Menu\UI\ICustomTopControlFactory
        allow:
            loggedIn: true
            roles: [admin]
        translator: true
        template:
            menu: %appDir%/presenters/templates/_components/menu/menu.latte
        items:
            'menu.items.dashboard':
                    target: Homepage:default
                    data:
                            icon: home
    leftMenuBottom:
        controlClass: \DK\Menu\UI\CustomBottomControl
        controlInterface: \DK\Menu\UI\ICustomBottomControlFactory
        allow:
            loggedIn: true
            roles: [admin]
        translator: true
        template:
            menu: %appDir%/presenters/templates/_components/menu/menu.latte
        items:
            'menu.items.system_settings':
                target: Settings:BasicInfo
                data:
                    icon: wrench
            'menu.items.help':
                target: Help:default
                data:
                    icon: support