{block content}

<h1><span class="glyphicon glyphicon-user"></span> Přizpůsobení</h1>

<div class="well">
    Nastavení na této stránce jsou uložena pouze pro Vás. Ostatní uživatelé si mohou uložit nastavení svá.
</div>

{control customForm}