{var $robots = noindex}

{block content}
<h1 n:block=title>Stránka nenalezena</h1>

<p>Omlouváme se, ale požadovaná stránka nebyla nalezena. Je možné, že požadovaná adresa je neplatná,
    nebo že stránka již neexistuje.</p>

<p><small>error 404</small></p>
