{block content}

<h1 n:block=title><span class="glyphicon glyphicon-cutlery"></span> Úprava denního menu</h1>

<div class="well">
    Prázdná pole a chody bez uvedeného jídla po uložení zmizí.
    V případě, že chcete přidat více jídel k danému chodu než
    je k dispozici polí pro zadání, zadejte jídla do dostupných polí,
    denní menu uložte (objeví se nová pole pro zadání) a přidejte k
    chodu zbylá jídla.
</div>

{control menuEditForm}